<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Tipo</th>
      <th scope="col">Región</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cafe of cafes">
      <th scope="row" name="id">{{cafe.id}}</th>
      <td name="nombre">{{cafe.nombre}}</td>
      <td name="tipo">{{cafe.tipo}}</td>
      <td name="region">{{cafe.region}}</td>
    </tr>
  </tbody>
</table>

<p>
  Total café de origen: <span name="totalCafeOrigen">{{totalCafeOrigen}}</span><br>
  Total café blend: <span name="totalCafeBlend">{{totalCafeBlend}}</span>
</p>